name: Wails Build
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: windows/amd64
          - os: macos-latest
            platform: darwin/universal

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Wails CLI
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Build Application
        shell: bash
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            wails build -platform ${{ matrix.platform }}  -clean
          else
            wails build -platform ${{ matrix.platform }} -clean
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SparkleWash-${{ matrix.os }}
          path: build/bin/*

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/bin/*.exe
            build/bin/*.app
            build/bin/*installer.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}